# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Data Science Tools|
------------------|
NumPy
pandas
Matplotlib
Seaborn

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# __Objectives__
- List popular languages for Data Science
- Multiplying integers
- Markdown practice
- Division

## Author
Maria Fernanda Barriba Vega